html {
    font-family: sans-serif;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a:hover {
    color: #EF5424;
    text-decoration: underline;
}
.text-nowrap{white-space: nowrap;} .full{width: 100%;}
.hide-normal{display: none;}
.error-label{display:none;}
.pointer{cursor: pointer;}

.cl-pink{color: #f65280}
.cl-black{color: #2f2f2f}
.cl-grey{color: #9faab6}
.cl-blue{color: #09b9e5}
.cl-dark-blue{color: #1078f9}
.cl-green{color: #35b538}
.cl-yellow{color: #edc714}
.cl-orange{color: #fa8526}
.cl-white{color: #fff}

.cl-lit-purple{color: #d971f2} 
.cl-purple{color: #8a6ced} 
.cl-navy{color: #233e5c} 
.cl-sea-green{color: #64dbd7} 
.cl-brown{color: #874a25} 
.cl-red{color: #f53838} 

.ps-relative{position: relative;}
.fs10{font-size: 10px !important}
.fs11{font-size: 11px !important}
.fs12{font-size: 12px !important}
.fs13{font-size: 13px !important}
.fs14{font-size: 14px !important}
.fs15{font-size: 15px !important}
.fs16{font-size: 16px !important}
.fs17{font-size: 17px !important}
.fs18{font-size: 18px !important}
.fs19{font-size: 19px !important}
.fs20{font-size: 20px !important}
.fw-bold{font-weight: bold !important;}
.fs-italic{font-style: italic;}
.fw-normal{font-weight: normal !important;}
.top-tabs .tab-content {
    border: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
}
.resort-name .address{
	width: 100%;
	display: table;
}
.address i{
	color: #EC407A;
}

.section-container {
	display: table;
    width: 100%;
    border: 1px solid #09B9E5;
    border-top: 0;
}
.section-container .section-heading h3{
	background-color: #09B9E5;
    padding: 10px 20px;
    margin-top: 0px;
}
.section-container .section-heading h3 span{
	background: none;
	color: #fff;
	padding: 0 15px;
    position: relative;
    z-index: 5;
    font-size: 24px;
}
.section-container .section-detail{
	display: table;
    width: 100%;
}

/*///////////////////////// for PRODUCT ITEM ////////////////////////////////////*/
.apartment-item{
    border: 1px solid #09B9E5;
    padding: 5px 5px 0px 5px;
}
.blog-text p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.blog-text .time {
    border-radius: 3px; color: #999;padding: 1px 3px; float: right;
    /*right: 5px;
    bottom: 25px;
    position: absolute;*/
}
.blog-text .time li a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #a5a5a5;
    font-size: 13px;
}
.item_price .price{
    color: #f53838;
}
.item_price .acreage{
color:#055699
}
/*///////////////////////// END for PRODUCT ITEM ////////////////////////////////////*/
.top-tabs .tab-content{
	background-color: #D9EDF7;
}

.navigation {
    margin: 10px 0;
}
.search-form label {
    margin-bottom: 10px;
}
.search-form .form-section {
    margin-bottom: 15px;
}
.navbar-default {
    border: none;
    background-color: #0277bd;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: yellow;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: yellow;
    background-color: transparent;
}
.cl-green{
    color: green;
}
.blog-text .time > li {
    display: inline-block;
    margin-right: 10px;
}
.top-tabs .tab-content {
    border: 1px solid #d5d5d5;
    border-top: none;
    padding-top: 15px;
    background-color: #D9EDF7;
}
.form-control {
     min-height: 38px; 
}
.select-box::before{    
    padding: 8px 14px;
}
.select-box select {
     color: #555; 
}
.section-more{
    margin: 10px 10px 20px 10px;
}
.home-icon{
    font-size: 20px;
}
.agent-name h5::after {
    content: "";
}
.lower-footer a {
    color: indianred;
}
.place-img:hover .place-text {
    visibility: hidden;
    opacity: 0;
}
.place-img:hover a {
    visibility: visible;
    opacity: 1;
}
.place-text {
    visibility: visible;
    opacity: 1;
}
.place-img:hover .btnProjectSpecalDetail {
    display: block;
}
.btnProjectSpecalDetail {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.btnProjectSpecalDetail a{
    color: #fff;
}
.location-icon {
    color: #EC407A;
}
li:hover .dropdown-menu{
    display: block;
}
.dropdown-menu li:hover{
    background-color: #f5f5f5;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #09b9e5;
}
#navbar .nav > li > a {
    font-weight: bold;    
}
#navbar a{
    text-transform: uppercase;
}
.dropdown-menu li {
    padding: 5px 8px;
}
#navbar .nav > li > a {
    padding: 0 0 4px 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > span:hover{
    color: #F36A5A;
}
.resort-name p {
    line-height: 20px;
    margin-top: 10px;
}
.post-area {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.btn-group{
    width: 100%;
}
button.multiselect{
    width: 100%;
    min-height: 38px;
    border-radius: 0;
}
.search-box-min button.multiselect{
    min-height: 34px;
}
.accomodation li {
    margin-bottom: 5px;
}
.send-msg .post-msg i {
    color: #fff;
}
.datetime{
    color: #a5a5a5;
}
.apartment-item.border-gray{
    border: 1px solid #e7e7e7;
}

.bdb-gray{
    border-bottom: 1px dotted #ccc;
}
.right-side-bar .blog-img {
    margin-right: 10px;
}
.tag-bar span {
    font-size: 14px;
}
/*///////////////////////// for SEARCH BOX MIN ////////////////////////////////////*/
.search-box-min{ padding-top: 10px; }
.search-box-min .search-form label {
    margin-bottom: 2px;
}
.search-box-min .form-control {
    min-height: 34px;
    padding: 3px 6px;
}
.search-box-min .select-box::before {
    padding: 6px 10px;
}
.search-box-min .search-form .form-section {
    margin-bottom: 10px;
}
/*///////////////////////// END for SEARCH BOX MIN ////////////////////////////////////*/

/*///////////////////////// for RIGHT SIDE BAR ////////////////////////////////////*/
.right-side-bar .rightbar-heading h4::after { width: 100%;}
/*///////////////////////// END for RIGHT SIDE BAR ////////////////////////////////////*/

/*///////////////////////// for PRODUCT DETAIL ////////////////////////////////////*/
.description-content li {
    margin-bottom: 5px;
    display: table-row;
}
.property-single-rightbar .property-carousel .owl-controls .owl-prev {
    bottom: -23%;
}
.property-single-rightbar .property-carousel .owl-controls .owl-next {
    bottom: -23%;
}
/*///////////////////////// END for PRODUCT DETAIL ////////////////////////////////////*/

/*///////////////////////// for MEDIA RESPONSIVE ////////////////////////////////////*/
@media (min-width:800px) and (max-width:960px){
.nav.navbar-nav > li:last-child {
    padding: 20px 16px;
}
}
/*///////////////////////// END for MEDIA RESPONSIVE ////////////////////////////////////*/

.read-more-container {
    position: relative;
    overflow: hidden;
}
.divSummary{ max-height: 150px;position: relative; overflow: hidden;}
div.place-text a.address-text{
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    white-space: inherit;
}

.li-project-item{
    height: 465px; /*////*/
}

.error-404 h1{font-size:11.1em;font-weight:700;color:#26313b;margin:0;padding:0;text-transform:uppercase;}
.error-404 p{color:#f53f1a;margin:0;font-size:1.2em;text-transform:uppercase;}
a.b-home{background:#09b9e5;padding:0.8em 3em;display:inline-block;color:#FFF;text-decoration:none;margin-top:1.1em;}
a.b-home:hover{background:#f53f1a;color:#fff;}